<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @provider.name %>
</p>

<p>
  <b>Create vm:</b>
  <%= @provider.create_vm %>
</p>

<p>
  <b>Start vm:</b>
  <%= @provider.start_vm %>
</p>

<p>
  <b>Stop vm:</b>
  <%= @provider.stop_vm %>
</p>

<p>
  <b>Reboot vm:</b>
  <%= @provider.reboot_vm %>
</p>

<p>
  <b>List vm:</b>
  <%= @provider.list_vm %>
</p>


<%= link_to 'Edit', edit_provider_path(@provider) %> |
<%= link_to 'Back', providers_path %>
