<p id="notice"><%= notice %></p>

<p>
  <b>Operation:</b>
  <%= @resavation.operation %>
</p>

<p>
  <b>Hour:</b>
  <%= @resavation.hour %>
</p>

<p>
  <b>Min:</b>
  <%= @resavation.min %>
</p>

<p>
  <b>Vmid:</b>
  <%= @resavation.vmid %>
</p>

<p>
  <b>Conn:</b>
  <%= @resavation.conn_id %>
</p>


<%= link_to 'Edit', edit_resavation_path(@resavation) %> |
<%= link_to 'Back', resavations_path %>
