<h1>Listing conns</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Provider</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @conns.each_with_index do |conn, i| %>
  <tr>
    <td><%= conn.name %></td>
    <td><%= conn.provider.name %></td>
    <td class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">Operation<b class="caret"></b></a>
      <ul class="dropdown-menu">
         <li><%= link_to 'VMs', {:controller => 'vm_operations', :action => 'index', :idx => i} %></li>
         <li><%= link_to 'Show', conn %></li>
         <li><%= link_to 'Edit', edit_conn_path(conn) %></li>
         <li><%= link_to 'Destroy', conn, method: :delete, data: { confirm: 'Are you sure?' } %></li>
      </ul>
    </td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Conn', new_conn_path %>
